@import url(http://fonts.googleapis.com/css?family=Cabin:700italic,700,600,500);
@import url(http://fonts.googleapis.com/css?family=Kreon);
@import url(http://fonts.googleapis.com/css?family=Fira+Sans);
@import url(http://fonts.googleapis.com/css?family=Scada:400,700);
/*Import LESS Files*/
/*Farben*/
/*Eucalyptus*/
/*Shamrock*/
/*Light Sea Green*/
/*Font Weights*/
/*Schriftgrößen*/
/*Standard Padding*/
/*Abstände zwischen Textblöcken, Überschriften, etc.*/
/*h1*/
/*h2*/
/*h3*/
/*Breite und Höhe*/
/*Import LESS Files*/
/*Links*/
/*Impressum Überschriften*/
/*Blogeintrag*/
/*Anpassung Padding, etc.*/
/*Import der genutzen Schriftarten (Google Fonts)*/
body {
  font-size: 16px;
  background-color: white;
  color: black;
  box-sizing: border-box;
}
/*BEGINN TESTBEREICH FÜR MODULE*/
.container {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}
.middle {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}
div {
  /*
    border-left:solid;
    border-right:solid;
    border-width:1px;*/
}
/*ENDE TESTBEREICH FÜR MODULE*/
/*Überschriften*/
h1,
h2,
h3 {
  color: #1ba39c;
  font-family: 'Cabin', 'Arial', sans-serif;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  margin-top: 0.25em;
  margin-bottom: 0.15em;
}
h1 {
  font-weight: 700;
  font-size: 32px;
}
h2 {
  font-weight: 600;
  font-size: 22px;
}
h3 {
  font-weight: 500;
  font-size: 18px;
}
/*Links*/
a {
  color: #1ba39c;
  font-family: 'Cabin', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
}
a:hover {
  color: #2ecc71;
  text-decoration: underline;
}
a:visited {
  text-decoration: none;
}
p {
  font-family: 'Kreon', 'Times New Roman', serif;
  font-weight: 400;
  font-size: 16px;
}
/*Fließtext*/
.fliesstext p {
  margin-top: 0.25em;
  margin-bottom: 1.5em;
}
.infotext {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 0.75em;
}
/*Klassen*/
.quellenangabe {
  font-size: 14px;
}
.quellenangabe a {
  color: #1ba39c;
  font-family: 'Cabin', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
}
.quellenangabe a:hover {
  color: #2ecc71;
  text-decoration: underline;
}
.quellenangabe a:visited {
  text-decoration: none;
}
/*MENÜS*/
.menu {
  background-color: #26a65b;
  position: fixed;
  /*FIXME: kann weg*/
}
.menu a {
  display: block;
  font-family: 'Scada', sans-serif;
  color: black;
}
.menu a:hover {
  text-decoration: none;
  background-color: #2ecc71;
}
.menu div:hover {
  background-color: #2ecc71;
}
/*FIXME: Mit Variablen ergänzen*/
.main-menu {
  font-weight: 400;
  width: 940px;
  height: 100px;
  top: 0px;
  /*FIXME: kann weg*/
  /*
    div
    {
        width: 180px;
        height: 100px;
        float: left;
        text-align:center;
    }*/
}
.main-menu a {
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  font-size: 1.25em;
  line-height: 100px;
  vertical-align: middle;
}
.sub-menu {
  font-weight: 400;
  left: 50px;
}
.sub-menu a {
  font-size: 1em;
}
.content {
  margin-top: 250px;
}
/*FORMS*/
/*
button
{

    border:none;
    outline:none;
    
    background-color: @dark-green;
    padding: 10px;
    

    font-family: 'Scada', sans-serif;
    font-weight: @font-weight-bold;
    font-size: 1em;
    color:black;
    text-shadow: 1px 1px 3px #666666;
    text-align:center;
}
    */
button {
  /*Button Design*/
  border-width: 1px;
  border-style: solid;
  border-color: #26a65b;
  background-color: white;
  padding: 10px;
  /*Button Text*/
  font-family: 'Scada', sans-serif;
  font-weight: 700;
  font-size: 1em;
  color: black;
  text-align: center;
}
button:hover,
button:active {
  background-color: #2ecc71;
}
input,
textarea,
select,
option {
  border-color: #26a65b;
  opacity: 1;
  color: black;
}
input:focus,
input:hover,
textarea:focus,
textarea:hover,
select:hover {
  background-color: rgba(46, 204, 112, 0.1);
  border-color: #26a65b;
  outline-color: #2ecc71;
}
*::selection {
  background-color: #2ecc71;
}
*::-moz-selection {
  background-color: #2ecc71;
}
/*Bilder*/
img {
  width: 300px;
  height: auto;
}
