

/*Import LESS Files*/
@import "variables.less";
@import "mixins.less";

/*Import der genutzen Schriftarten (Google Fonts)*/
@import url(http://fonts.googleapis.com/css?family=Cabin:700italic,700,600,500,400);
/*@import url(http://fonts.googleapis.com/css?family=Kreon);*/ /*wenn noto dann raus*/
@import url(http://fonts.googleapis.com/css?family=Fira+Sans);
@import url(http://fonts.googleapis.com/css?family=Scada:400,700);
@import url(http://fonts.googleapis.com/css?family=Noto+Serif); /*TEST*/

/*
*, *:before, *:after
{
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 -ms-box-sizing: border-box;
 box-sizing: border-box;
 
}*/

*::selection
{
    background-color:@light-green;
}

*::-moz-selection
{
    background-color:@light-green;
}




body 
{
    font-size: @font-size-standard;
    background-color:white;
    color:black;
}

/*BEGINN TESTBEREICH FÜR MODULE*/
.container
{
    width: @max-site-width;
    margin-left:auto;
    margin-right:auto;
}

.middle
{
    width: @max-column-width;
    margin-left:auto;
    margin-right:auto;
}

div
{
    /*
    border-left:solid;
    border-right:solid;
    border-width:1px;*/
}
/*ENDE TESTBEREICH FÜR MODULE*/

/*Überschriften*/
h1, h2, h3
{
    color: @light-sea-green;
    font-family: 'Cabin', 'Arial' , sans-serif;

    padding-top: @padding-standard;
    padding-bottom: @padding-standard;

    margin-top: @margin-top-h;
    margin-bottom: @margin-bottom-h;
}

h1
{
    font-weight:@font-weight-bold;
    font-size:32px;


}

h2
{
    font-weight:@font-weight-semi-bold;
    font-size:22px;


}

h3
{
    font-weight:@font-weight-medium;
    font-size:18px;


}

/*Links*/
a
{
    .link;
}

p
{
    //font-family: 'Kreon', 'Times New Roman' ,serif;
    font-family: 'Noto Serif', 'Times New Roman',serif;
    font-weight: @font-weight-normal;
    font-size: 1em;

}

/*Fließtext*/
.fliesstext
{
    p
    {
        margin-top: 0.25em;
        margin-bottom: 1.5em;
    }
}

.infotext
{
    font-family: 'Fira Sans', 'Arial' , sans-serif;
    font-weight: @font-weight-normal;
    font-size: 0.75em;
}

/*Klassen*/
.quellenangabe
{
    font-size: 14px;

    a
    {
        .link(14px);
    }
}

/*MENÜS*/
.menu
{
    background-color: @dark-green;
    position:fixed;
    a
    {
        display:block;
        font-family: 'Scada', sans-serif;
        color: black;
    }

    a:hover
    {
        text-decoration:none;
        background-color: @light-green;
    }

    /*FIXME: kann weg*/
    div:hover
    {
        background-color: @light-green;
    }
}

/*FIXME: Mit Variablen ergänzen*/
.main-menu
{
    width: 940px;
    height: 100px;

    top:0px;

    /*FIXME: kann weg*/
    /*
    div
    {
        width: 180px;
        height: 100px;
        float: left;
        text-align:center;
    }*/

    a
    {
        font-weight: @font-weight-normal;
        padding-left: 10px;
        padding-right: 10px;
        float:left;
        font-size:2em;
        line-height:100px;
        vertical-align:middle;
    }
}


.sub-menu
{
    left:50px;

    a
    {
        font-weight: @font-weight-bold;
        font-size: 1em;
    }
}

.footer-menu
{
    position:static;
    bottom:0px;
}

.content
{
    margin-top: 250px;
}

/*FORMS*/
.formular
{

}
/*
button
{

    border:none;
    outline:none;
    
    background-color: @dark-green;
    padding: 10px;
    

    font-family: 'Scada', sans-serif;
    font-weight: @font-weight-bold;
    font-size: 1em;
    color:black;
    text-shadow: 1px 1px 3px #666666;
    text-align:center;
}
    */

button
{
    /*Button Design*/
    border:1px solid @dark-green;
    background-color: white;
    padding: 10px;
    
    /*Button Text*/
    font-family: 'Scada', sans-serif;
    font-weight: @font-weight-bold;
    font-size: 1em;
    color:black;

    text-align:center;
}

button:hover, button:active
{
    background-color: @light-green;
}


input,
textarea,
select,
option,
label
{
    /*Text*/
    font-family: 'Scada', 'Arial' , sans-serif;
    font-weight: @font-weight-normal;
    font-size: 1em;
}

input,
textarea,
select
{
    /*Design*/
    border:1px solid @dark-green;
    color:black;
}


input:focus, 
input:hover, 
textarea:focus, 
textarea:hover,
select:hover,
select:focus
{
    background-color: @light-green-hsla;
    border-color: @dark-green;
    outline-color: @light-green;
}

/*FIXME*/
/*Checkbox Design anpassen*/
input[type="checkbox"]
{
    display:none;
}

    input[type="checkbox"] + label span
    {
        display:inline-block;
        width:19px;
        height:19px;
        margin:-1px 4px 0 0;
        vertical-align:middle;
        background:url('../images/symbols/checkbox_unchecked.png') top left no-repeat;
        cursor:pointer;
    }

    input[type="checkbox"]:checked + label span
    {
        background:url('../images/symbols/checkbox_checked.png');
    }

/*FIXME*/
/*Radio Button Design anpassen*/





/*Bilder*/
.bild
{
    width: 300px;
    height: auto;
   
    padding: 1em;

    img
    {
        width: 80%;
        height: auto;
        display:block;
        margin-left:auto;
        margin-right:auto;
    }

    p
    {
        padding-top:0.5em;
        width:100%;
        text-align:center;
    }
}

.bild-galerie
{

    p
    {
    }

    h3
    {
    }
}
