

/*Import LESS Files*/
@import "variables.less";
@import "mixins.less";

/*Import der genutzen Schriftarten (Google Fonts)*/
/*
@import url(http://fonts.googleapis.com/css?family=Merriweather);
@import url(http://fonts.googleapis.com/css?family=Cabin:700italic,700,600,500,400);
@import url(http://fonts.googleapis.com/css?family=Noto+Serif);
*/

@font-face
{
    font-family: Merriweather;
    //src: url(../fonts/merriweather/Merriweather-Regular.ttf);
    src:url(http://fonts.googleapis.com/css?family=Merriweather);
}



*, *:before, *:after
{
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 -ms-box-sizing: border-box;
 box-sizing: border-box;
 
}
/*
*::selection
{
    background-color:@color-secondary-orange;
}

*::-moz-selection
{
    background-color:@color-secondary-orange; 
}*/




body 
{
    font-size: @font-size-standard;
    background-color:white;
    color:black;
}

/*BEGINN TESTBEREICH FÜR MODULE*/
/*.wrapper
{
    width: @max-site-width;
    margin-left:auto;
    margin-right:auto;
}
    */


div
{
    /*
    border-left:solid;
    border-right:solid;
    border-width:1px;*/
}
/*ENDE TESTBEREICH FÜR MODULE*/

/*Überschriften*/
h1, h2, h3, h4
{

    font-family: 'Cabin', 'Arial' , sans-serif;
    /*FIXME: letter-spacing*/
    letter-spacing: 0.1em;

    padding-top: @padding-standard;
    padding-bottom: @padding-standard;

    margin-top: @margin-top-h;
    margin-bottom: @margin-bottom-h;
}

h1
{
    font-weight:@font-weight-bold;
    font-size:40px;
    color: @color-primary-green;

}

h2
{
    font-weight:@font-weight-semi-bold;
    font-size:30px;
    color: black;

}

h3
{
    font-weight:@font-weight-medium;
    font-size:22px;
    color:black;

}

h4
{
    font-weight:@font-weight-medium;
    font-size:18px;
    color:black;
}

/*Links*/
a
{
    color: black;
    font-family: 'Cabin', 'Arial', sans-serif;
    font-weight: @font-weight-bold;
    text-decoration: underline;

    &:hover
    {
        color: @color-secondary-orange;
        text-decoration:underline;
    }

    &:visited
    {
        text-decoration:underline;
    }
}

p
{
    font-family: 'Merriweather', 'Times New Roman',serif;
    //font-family: 'Noto Serif', serif;
    font-weight: @font-weight-normal;
    font-size: 0.95em;
    letter-spacing: 0.1em;
    line-height: 150%;
}

/*Fließtext*/
.fliesstext
{
    p
    {
        margin-top: 0.25em;
        margin-bottom: 1.5em;

    }
}

.infotext
{
    font-family: 'Cabin', 'Arial' , sans-serif;
    font-weight: @font-weight-normal;
    font-size: 0.75em;
}

/*
    Klassen
*/
.quellenangabe
{
    font-size: 0.75em;

    a
    {

    }
}

/*Header*/
header
{
    /*FIXME: Positionierung muss in die media queries*/
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    height:100px;

    background-color: @color-primary-green;
}

.header-text
{
    width: 940px;
    margin-left:auto;
    margin-right:auto;
    color: white;
    text-align:right;
}


/*MENÜS*/
.menu
{
    background-color: white;
    //position: absolute;

    li
    {
        list-style:none;
    }

    a
    {
        display: block;
        font-family: 'Cabin', sans-serif;
        color: black;
        text-decoration:none;
    }

        a:hover
        {
            text-decoration: none;
            color: black;
            background-color: @color-primary-green;
        }

        a:active
        {
            background-color: @color-secondary-orange;
        }
}

.link-active
{
    background-color:@color-secondary-orange;
}

/*FIXME: Mit Variablen ergänzen*/
.main-menu
{
    /*
    width: 940px;
    height: 40px;
    top: 100px;
        */
    margin-left:auto;
    margin-right:auto;

    a
    {
        font-weight: @font-weight-normal;
        padding-left: 25px;
        padding-right: 25px;
        float: left;
        font-size: 2em;
        line-height: 40px;
        vertical-align: middle;
    }
}

//Untermenü in der linken Spalte
.sub-menu
{
    
    //left:50px;

    a
    {
        font-weight: @font-weight-bold;
        font-size: 1.2em;
        padding: 1em;
        line-height: normal;
    }
}

//Footer Menü am unteren Ende der Seite
.footer-menu
{
    position: static;
    bottom: 0px;
    background-color: @color-primary-green;
    width: 100%;
    height: 40px;

    a
    {
        float: left;
        padding-left: 25px;
        padding-right: 25px;
        color: white;
        text-decoration:none;
    }

        a:hover
        {
            color: @color-secondary-orange;
            text-decoration:underline;
        }
}

.footer-list-main
{

}

.footer-list-sub
{
    li
    {

    }
}


.content
{
    margin-top: 250px;
}

/*FORMS*/
.formular
{

}

.form-required-sign
{
    color:red;
}

button
{
    /*Button Design*/
    border:1px solid @color-secondary-blue;
    background-color: white;
    padding: 10px;
    
    /*Button Text*/
    font-family: 'Cabin', sans-serif;
    font-weight: @font-weight-bold;
    font-size: 1em;
    color:black;

    text-align:center;
}

button:hover, button:active
{
    background-color: @color-secondary-blue;
    color: white;
}


/*FIXME: Width für die Elemente wie Label, Textarea, etc. setzen --> aber für responsive*/

input,
textarea,
select,
option,
label,
legend,
fieldset,
form
{
    /*Text*/
    font-family: 'Cabin', 'Arial' , sans-serif;
    font-weight: @font-weight-normal;
    font-size: 1em;
    
    /* Aus der Vorlesung
    vertical-align:baseline;
    padding:0;
    margin:0;
        */
}

label
{
    display:block;
    float:left;

}

fieldset
{
    //border-width:0;
    border-color:@color-secondary-blue;
    padding-left:0.25em;
}

input,
textarea,
select
{
    /*Design*/
    border:1px solid @color-secondary-blue;
    color:black;
}


input:focus, 
input:hover, 
textarea:focus, 
textarea:hover,
select:hover,
select:focus
{
    background-color: @color-secondary-blue-hsla;
    border-color: @color-secondary-blue;
    outline-color: @color-secondary-blue;
}


/*Bilder*/
.bild
{
    width: 240px;
    height: auto;
   
    //padding: 1em;

    img
    {
        width: 100%;
        height: auto;
        display:block;
        margin-left:auto;
        margin-right:auto;
    }

    p
    {
        padding-top:0.8em;
        padding-bottom:0.8em;
        margin-top: 0px;
        width:100%;
        text-align:center;
        background-color: @color-primary-green;
        color: white;
        font-size: @font-size-standard;
    }
}

    .bild:hover
    {
        cursor: pointer;

        p
        {
            background-color: @color-secondary-orange;
            color: black;
        }
    }

.bild-galerie
{

    p
    {
    }

    h3
    {
    }
}

/*Blog*/ //FIXME: Sollte in den media query teil
.blog-article
{
    /*Abstände*/
    //p
    //{
        //font-size:5em;
    //}
}

//FIXME: Sollte in den media query teil
.blog-text
{
    //Formatierung 
}


/*Referenzen*/
.referenzen-article
{
    
}

.referenz-small
{

}

//Firmenlogo (Referenzen)
.corp-logo
{
    //Logo
    color:green;
}

/*Kontakt Sidebar*/
.contact-info
{
    background-color:@color-secondary-blue-hsla;
}

/*Zitat*/
blockquote
{
}

.zitat
{
    //font-family: 'Merriweather', 'Times New Roman',serif;
    color:@color-secondary-blue;
    font-weight:@font-weight-normal-italic;
}

    .zitat:before
    {
        content:open-quote;
    }

    .zitat:after
    {
        content:close-quote;
    }

.autor
{
    //font-family: 'Merriweather', 'Times New Roman',serif;
    font-weight:@font-weight-normal;
}

/*
cite
{

}

cite:before
{
    content:open-quote;
}

cite::after
{
    content:close-quote;
}*/

//FIXME: Zitat + Copyright + R