

/*Farben*/
@dark-green: #26a65b; /*Eucalyptus*/
@light-green: #2ecc71; /*Shamrock*/
@light-sea-green: #1ba39c; /*Light Sea Green*/
@light-green-hsla: hsla(145,63%,49%,0.1);

/*Font Weights*/
@font-weight-bold: 700;
@font-weight-semi-bold: 600;
@font-weight-medium: 500;
@font-weight-bold-italic: 700italic;
@font-weight-normal: 400;

/*Schriftgrößen*/
@font-size-standard: 16px;

/*Standard Padding*/
@padding-standard: 0.25em;

/*Abstände zwischen Textblöcken, Überschriften, etc.*/
@margin-top-h: 0.25em;
@margin-bottom-h: 0.15em;


/*h1*/
@margin-top-h1: 1em;
@margin-bottom-h1: 0.5em;
/*h2*/
@margin-top-h2: 0.5em;
@margin-bottom-h2: 0.25;
/*h3*/
@margin-top-h3: 0.25em;
@margin-bottom-h3: 0.15em;

/*Breite und Höhe*/
@max-site-width:940px;
@max-column-width: 600px;