/*Import LESS Files*/
/*Farben*/
/*Font Weights*/
/*Schriftgrößen*/
/*Standard Padding*/
/*Abstände zwischen Textblöcken, Überschriften, etc.*/
/*h1*/
/*h2*/
/*h3*/
/*Breite und Höhe*/
@media screen and (max-width: 767px) {
  html {
    min-width: 320px;
  }
  body {
    font-size: 16px;
  }
  /*mobile Menü */
  /*Überschriften*/
  h1,
  h2,
  h3,
  h4 {
    letter-spacing: 0.1em;
    margin-bottom: 0.1em;
  }
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 2em;
  }
  h3 {
    font-size: 1.25em;
  }
  h4 {
    font-size: 1.1em;
  }
  p,
  a {
    font-size: 1em;
    letter-spacing: 0.1em;
    line-height: 150%;
    /*
        hyphens:auto;
        text-align:justify;
        */
  }
  /*Fließtext*/
  .fliesstext p {
    padding-top: 3.25em;
    margin-bottom: 1.5em;
  }
  .infotext {
    font-size: 0.75em;
  }
  .quellenangabe {
    font-size: 0.75em;
  }
  .header-text {
    font-size: 2em;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    vertical-align: central;
  }
  .wrapper {
    margin-left: auto;
    margin-right: auto;
    /*    margin-top:0px;
        padding-top:0;
        */
    padding-left: 15px;
    padding-right: 15px;
  }
  .main-menu {
    /*
        width: 940px;
        height: 40px;
        top: 100px;
            */
    margin-left: auto;
    margin-right: auto;
    /*a
        {
            padding-left: 25px;
            padding-right: 25px;
            float: left;
            font-size: 2em;
            line-height: 40px;
            vertical-align: middle;
        }*/
  }
  .mobile-menu {
    /*Make dropdown links appear inline*/
    /*Create vertical spacing*/
    /*Make all menu links full width*/
  }
  .mobile-menu button {
    background-color: #1ba39e;
    border-width: 0px;
  }
  .mobile-menu img {
    max-width: 30%;
    min-width: 15%;
    max-height: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .mobile-menu label {
    width: 100%;
  }
  .mobile-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .mobile-menu li {
    padding: 0.5em;
  }
  .mobile-menu a {
    font-size: 1.5em;
    color: white;
  }
  .mobile-menu ul {
    position: static;
    display: none;
  }
  .mobile-menu li {
    margin-bottom: 1px;
  }
  .mobile-menu ul li,
  .mobile-menu li a {
    width: 100%;
  }
  /*Anzeigen des mobilen Menüs*/
  .show-menu {
    display: block;
  }
  .sub-menu {
    margin-top: 2em;
  }
  .sub-menu h3,
  .sub-menu a {
    padding-left: 0.2em;
  }
  .sub-menu h3 {
    line-height: 1.5em;
    background-color: #1ba39e;
    color: white;
  }
  .sub-menu li {
    width: auto;
    padding-right: 0.5em;
    padding-left: 0em;
    float: left;
  }
  .sub-menu a,
  .sub-menu span {
    font-size: 1.2em;
    padding: 0.25em;
    line-height: normal;
    width: auto;
  }
  .sub-menu a:hover {
    color: #ffffff;
  }
  .footer-menu {
    position: relative;
    bottom: 0px;
    width: 100%;
    height: 20em;
  }
  .footer-menu a {
    float: left;
    padding-left: 25px;
    padding-right: 25px;
  }
  button {
    padding: 10px;
    font-size: 1em;
  }
  input,
  textarea,
  select,
  option,
  label,
  legend,
  fieldset,
  form {
    font-size: 1em;
    letter-spacing: 0.1em;
    line-height: 150%;
    vertical-align: baseline;
    padding: 0;
    margin: 0;
  }
  form {
    padding-top: 1em;
    padding-bottom: 1em;
  }
  form legend {
    font-size: 1.5em;
    padding-top: 0.8em;
    border-bottom-width: 1px;
    border-color: #2c57b1;
    color: #2c57b1;
  }
  form form div {
    margin-bottom: 0.5em;
    width: 100%;
  }
  form form button {
    float: right;
  }
  form label {
    display: block;
    width: 100%;
    margin-top: 1em;
  }
  form select,
  form option {
    width: auto;
    padding: 0.1em;
  }
  form input,
  form textarea {
    width: 100%;
    line-height: 1em;
    padding: 0.5em;
  }
  .bild {
    width: 240px;
    height: auto;
  }
  .bild img {
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .bild p {
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    margin-top: 0px;
    width: 100%;
    text-align: center;
    font-size: 16px;
  }
  .blog-article {
    /*Abstände*/
  }
  .corp-logo {
    color: green;
  }
  .contact-info {
    padding: 1em;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
  }
  .contact-info h4 {
    margin-bottom: 0em;
    padding-bottom: 0em;
  }
  .contact-info p {
    padding-top: 0em;
    margin-top: 0em;
  }
}
